h1,
h2 {
  font-family: Lato;
}
/**QUESTION 5. Define and Use variables in css.  **/

/*Add a color variable 'main-color'*/

#colorVar {
  color: grey; /*Use 'main-color' variable here*/
}

p,
table {
  color: grey; /*Use 'main-color' variable here*/
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
